*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.menu-container{
  width: 100%;
  height: 64px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 0px 17px 0px rgba(181,181,181,1);
}

.left{
  line-height: 70px;
  width: 70%;
  height: 100%;
  float: left;
}

.menu-container .left img{
  height: 25px;
  margin-left: 10px;
}

.right{
  display: flex;
  justify-content: flex-end;
  line-height: 70px;
  width: 30%;
  height: 100%;
  float: left;
}

.lingua{
  text-align: center;
  width: 25%;
  height: 100%;
  padding: 0px 20px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  float: left;
}

.login{
  text-align: center;
  padding: 0px 20px;
  width: 25%;
  height: 100%;
  border-right: 1px solid lightgrey;
  float: left;
  color: #D70F64;
}

.shop{
  text-align: center;
  padding: 0px 20px;
  width: 10%;
  height: 100%;
  float: left;
  color: #D70F64
}

.jumbo{
  background-image: url(img/sfondo1.jpg);
  background-position: 160% 0 ;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-testo-cerca{
  width: 70%;
  margin: auto;
}

.testo h1{
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 25px;
}

.cerca{
  width: 55%;
  height: auto;
  padding: 15px;
  box-shadow: 0px 0px 17px 0px rgba(181,181,181,1);
}
.cerca p{
  display: inline-block;
}

.cerca input[type=text]{
  width: 500px;
  font-size: 3rem;
  display: inline-block;
}

.delivery, .pick-up{
  border: none;
  background: #C50B5C;
  padding: 20px;
  color: white;
  height: 100%;
}
